@model IEnumerable<_03_Dominio.entPedido>

<p>
    <a href="@Url.Action("InicializarPedido","PedidoLlamada")" class="btn btn-primary">Nuevo Pedido</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PedidoID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Persona.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Persona.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoPago.DescripcionTipoPago)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PedidoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Persona.Nombre) @Html.DisplayFor(modelItem => item.Cliente.Persona.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Persona.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPago.DescripcionTipoPago)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Detalles", "MenuPedido", new { pedidoID = item.PedidoID }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
