@model _03_Dominio.entPedido
@using _03_Dominio

@{
    ViewBag.Title = "DetallePedido";
    Layout = "~/Views/MasterPages/MasterIntranet.cshtml";
}

<h2>Detalles del Pedido @Html.DisplayFor(model => model.PedidoID):</h2>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Persona.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Persona.Nombre) @Html.DisplayFor(model => model.Cliente.Persona.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Persona.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Persona.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoPago.DescripcionTipoPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPago.DescripcionTipoPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoPedido)
        </dd>

    </dl>
</div>

@{
    List<entMenu> listaMenu = (List<entMenu>)ViewBag.listaMenu;
    <table class="table">
        <tr>
            <th>
                Entrada
            </th>
            <th>
                Segundo
            </th>
            <th>
                Postre
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Precio
            </th>
            <th>
                Subtotal
            </th>
        </tr>
        @{decimal subTotalMenu = 0;}
        @foreach (var item in listaMenu)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Entrada.NombreProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Segundo.NombreProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Postre.NombreProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @(@item.Precio * @item.Cantidad)
                </td>
                @{subTotalMenu = subTotalMenu + (decimal)(item.Precio * item.Cantidad);}
            </tr>
                    }

    </table>
}

@{
    List<entDetallePedido> listaProducto = (List<entDetallePedido>)ViewBag.listaProducto;
    <table class="table">
        <tr>
            <th>
                Producto
            </th>
            <th>
                Descripción
            </th>
            <th>
                Precio
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Subtotal
            </th>
        </tr>

        @{decimal subTotalProducto = 0;}
        @foreach (var item in listaProducto)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto.NombreProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto.DescripcionProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadProducto)
                </td>
                <td>
                    @(@item.PrecioProducto * @item.CantidadProducto)
                </td>
                @{subTotalProducto = subTotalProducto + (decimal)(item.PrecioProducto * item.CantidadProducto);}
            </tr>
                    }

    </table>
}

<div class="pull-right">
    Total: <input type="text" value="@(@subTotalProducto +@subTotalMenu)" id="subTotalMenu" />
</div>
<div>
    <a href="@Url.Action("Main","PedidoLlamada")" class="btn btn-default">Regresar</a>
</div>
