@model _03_Dominio.entPedido
@using _03_Dominio

@{
    ViewBag.Title = "Paso2";
    Layout = "~/Views/MasterPages/MasterIntranet.cshtml";
}

<h2>Paso2</h2>
<div class="row">
    <div class="col-md-1">
        Cliente:
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control" disabled="disabled" placeholder="@Html.DisplayFor(model => model.Cliente.Persona.Nombre) @Html.DisplayFor(model => model.Cliente.Persona.Apellidos)">
    </div>
</div>

<div class="row">
    <div>
        <label class="control-label col-md-1">Dirección:</label>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control" disabled="disabled" placeholder="@Html.DisplayFor(model => model.Cliente.Persona.Direccion)">
    </div>
</div>

<div class="row">
    <div>
        <label class="control-label col-md-1">Tipo de pago:</label>
    </div>
    <div class="col-md-3">
        <select class="form-control">
            @{
                List<entTipoPago> lista = (List<entTipoPago>)ViewBag.Lista;
                foreach (var stp in lista)
                {
                    <option value="@stp.TipoPagoID">@stp.DescripcionTipoPago</option>
                }
            }
        </select>
    </div>
</div>

<div class="row">
    <div class="form-group">
        <div>
            <label class="control-label col-md-1">Agregar Menú: </label>
        </div>
        <div class="col-md-3">
            <p>
                <a href="@Url.Action("AgregarMenu","Pedido")" class="btn btn-primary btn-block">Agregar Menú</a>
                <input type="button" value="Agregar Menú" class="btn btn-danger" data-toggle="modal" data-target="#Menu" />
            </p>
        </div>
        <div class="col-md-3">
            <p>
                <a href="@Url.Action("AgregarMenu","Pedido")" class="btn btn-primary btn-block">Agregar Productos</a>
            </p>
        </div>
    </div>
</div>

<!-- Modal para Agregar Menú-->
<div class="modal fade" id="Menu" tabindex="1" role="dialog" aria-labelledby="Menu" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title"> Agregar Menú</p>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <select class="form-control" id="entrada">
                            @{
                                List<entProducto> entrada = (List<entProducto>)ViewBag.Entrada;
                                foreach (var ent in entrada)
                                {
                                    <option value="@ent.ProductoID">@ent.NombreProducto</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <select class="form-control" id="segundo">
                            @{
                                List<entProducto> segundo = (List<entProducto>)ViewBag.Segundo;
                                foreach (var seg in segundo)
                                {
                                    <option value="@seg.ProductoID">@seg.NombreProducto</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <select class="form-control" id="postre">
                            @{
                                List<entProducto> postre = (List<entProducto>)ViewBag.Postre;
                                foreach (var pos in postre)
                                {
                                    <option value="@pos.ProductoID">@pos.NombreProducto</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="registrarMenu">Seleccionar</button>
            </div>
        </div>
    </div>
</div>
<!-- Fin modal para Agregar Menú-->

<div class="detalleMenu">

</div>
@section scripts{
    <script type="text/javascript">
        $('#registrarMenu').click(function () {
            registra();
        });

        var registra = function () {
            $('#detalleMenu').load('@Url.Action("AgregarMenu")', { entrada: $('#entrada').val(), postre: $('#postre').val(), segundo: $('#segundo').val() })
        };
    </script>
}