@using _03_Dominio

@{
    ViewBag.Title = "Nuevo Pedido";
    Layout = "~/Views/MasterPages/MasterIntranet.cshtml";
}

<h2>NuevoPedido</h2>
<br />
<div class="row">
    <div>
        <label class="control-label col-md-1">Mesa:</label>
    </div>
    <div class="col-md-3">
        <select class="form-control" id="mesa">
            @{
                List<entMesa> listaMesa = (List<entMesa>)ViewBag.Mesa;
                <option value="0">--Seleccionar--</option>
                foreach (var m in listaMesa)
                {
                    <option value="@m.MesaID">Mesa @m.NumeroMesa (@m.CapacidadMesa personas)</option>
                }
            }
        </select>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-6">
        <div class="col-md-3">
            <input type="button" value="Agregar Menú" class="btn btn-primary btn-block" data-toggle="modal" data-target="#Menu" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-3">
            <input type="button" value="Agregar Producto" class="btn btn-primary btn-block" data-toggle="modal" data-target="#Producto" />
        </div>
    </div>
</div>
<br />

<!-- Modal para Agregar Menú-->
<div class="modal fade" id="Menu" tabindex="1" role="dialog" aria-labelledby="Menu" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title"> Agregar Menú</p>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div>
                        <label class="control-label col-md-2">Entrada: </label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" id="entrada">
                            @{
                                List<entProducto> entrada = (List<entProducto>)ViewBag.Entrada;
                                foreach (var ent in entrada)
                                {
                                    <option value="@ent.ProductoID">@ent.NombreProducto</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div>
                        <label class="control-label col-md-2">Segundo: </label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" id="segundo">
                            @{
                                List<entProducto> segundo = (List<entProducto>)ViewBag.Segundo;
                                foreach (var seg in segundo)
                                {
                                    <option value="@seg.ProductoID">@seg.NombreProducto</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div>
                        <label class="control-label col-md-2">Postre: </label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" id="postre">
                            @{
                                List<entProducto> postre = (List<entProducto>)ViewBag.Postre;
                                foreach (var pos in postre)
                                {
                                    <option value="@pos.ProductoID">@pos.NombreProducto</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div>
                        <label class="control-label col-md-2">Cantidad: </label>
                    </div>
                    <div class="col-md-3">
                        <input type="number" class="form-control" placeholder="" id="cantidad">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="registrarMenu">Seleccionar</button>
            </div>
        </div>
    </div>
</div>
<!-- Fin modal para Agregar Menú-->
<!-- Modal para Agregar Producto-->
<div class="modal fade" id="Producto" tabindex="1" role="dialog" aria-labelledby="Menu" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title"> Agregar Producto</p>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div>
                        <label class="control-label col-md-2">Producto: </label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="busquedaProducto" class="form-control" placeholder="Buscar Producto">
                    </div>
                </div>
                <br />
                <div class="row">
                    <div id="seleccionarProducto">
                    </div>
                </div>
                <div class="row">
                    <div>
                        <label class="control-label col-md-2">Cantidad: </label>
                    </div>
                    <div class="col-md-3">
                        <input type="number" class="form-control" placeholder="" id="cantidadProducto">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnAgregarProducto">Seleccionar</button>
            </div>
        </div>
    </div>
</div>
<!-- Fin modal para Agregar Menú-->

<div class="row">
    <div id="detalleMenu" class="col-md-6">

    </div>

    <div id="detalleProducto" class="col-md-6">

    </div>
</div>

<div class="row">
    <div>
        <a href="@Url.Action("Cancelar","PedidoPresencial")" class="btn btn-default">Cancelar</a>
        <button type="button" class="btn btn-info" id="btnGuardar">Guardar</button>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            muestradetalle();
            muestraProducto();
        });

        $('#busquedaProducto').keyup(function () {
            muestraProducto();
        });

        var muestraProducto = function () {
            $('#seleccionarProducto').load('@Url.Action("SeleccionarProducto")', { busquedaProducto: $('#busquedaProducto').val() })
        }

        var muestradetalle = function () {
            $('#detalleMenu').load('@Url.Action("DetalleMenu")')
            $('#detalleProducto').load('@Url.Action("DetalleProducto")')
        }

        $('#registrarMenu').click(function () {
            var _Entrada = $('#entrada').val();
            var _Segundo = $('#segundo').val();
            var _Postre = $('#postre').val();
            var _Cantidad = $('#cantidad').val();

            $.post('@Url.Action("AgregarMenu")', {
                entrada: _Entrada,
                segundo: _Segundo,
                postre: _Postre,
                cantidad: _Cantidad
            })
        });

        $('#btnAgregarProducto').click(function () {
            $('#tablaProducto tbody tr').each(function () {
                if ($(this).find('.rdbtnProducto').is(':checked')) {
                    var _productoID = $(this).find('.ProductoID').val();
                    var _CantidadProducto = $('#cantidadProducto').val();

                    $.post('@Url.Action("AgregarProducto")', {
                        productoID: _productoID,
                        cantidadProducto: _CantidadProducto
                    })
                }
            })
        });

        $('#btnGuardar').click(function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GrabarPedido")',
                data: {
                    mesa: $('#mesa').val()
                }
            }).done(function () { alert("El pedido se guardó correctamente"); location.href = "@Url.Action("Main","PedidoPresencial")"; })
        });
    </script>
}
