@model _03_Dominio.entCliente

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/MasterPages/MasterIntranet.cshtml";
}

<h2>Eliminar Cliente</h2>

<h3>¿Seguro que desea eliminar?</h3>
<div>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Persona.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Persona.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Persona.Dni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.Dni)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Persona.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Persona.Sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.Sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Persona.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.Direccion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista", "Lista")
        </div>
    }
</div>
