@model IEnumerable<_03_Dominio.entProducto>

<p>
    <a href="@Url.Action("NuevoPlato","Producto")" class="btn btn-primary">Nuevo</a>
</p>

<table class="table table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescripcionProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubTipoProducto.DescripcionSubTipo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubTipoProducto.DescripcionSubTipo)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.ProductoID }) |
                @Html.ActionLink("Eliminar", "Eliminar", new { id = item.ProductoID })
            </td>
        </tr>
    }

</table>


