@model IEnumerable<_03_Dominio.entPedido>

<h3>Pedidos Presencial</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PedidoID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoPago.DescripcionTipoPago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mesa.NumeroMesa)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PedidoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPago.DescripcionTipoPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mesa.NumeroMesa)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Detalles", "DetallePedido", new { pedidoID = item.PedidoID }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
