@model _03_Dominio.entPedido

@{
    ViewBag.Title = "Pago Tarjeta";
    Layout = "~/Views/MasterPages/MasterIntranet.cshtml";
}

<h2>Pago Tarjeta</h2>

<div>
    <h4>entPedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PedidoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PedidoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoPedido)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Main")
</p>
