@model IEnumerable<_03_Dominio.entPedido>

@{
    ViewBag.Title = "PagoPaypal";
    Layout = "~/Views/MasterPages/MasterIntranet.cshtml";
}

<h2>PagoPaypal</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PedidoID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoPedido)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PedidoID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoPedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoPedido)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
