@model _03_Dominio.entMenu

@{
    ViewBag.Title = "AgregarMenu";
    Layout = "~/Views/MasterPages/MasterIntranet.cshtml";
}

<h2>AgregarMenu</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>entMenu</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @*@Html.LabelFor(model => model.Entrada.ProductoID, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Entrada</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Entrada.ProductoID, (SelectList)ViewBag.lista1, "<Seleccionar Entrada>", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Entrada.ProductoID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Segundo.ProductoID, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Segundo</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Segundo.ProductoID, (SelectList)ViewBag.lista2, "<Seleccionar Segundo>", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Segundo.ProductoID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Postre.ProductoID, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Postre</label>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.Postre.ProductoID, (SelectList)ViewBag.lista3, "<Seleccionar Postre>", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Postre.ProductoID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cantidad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Cancelar", "Main")
</div>
