@using _03_Dominio
@model IEnumerable<_03_Dominio.entMenu>

@{
    ViewBag.Title = "MainPedido";
    Layout = "~/Views/MasterPages/MasterIntranet.cshtml";
}

<h2>MainPedido</h2>

@{entPedido p = (entPedido)Session["pedido"]; }
<div class="row">
    <div class="form-group">
        <label class="control-label col-md-1">Cliente: </label>
        <div class="col-md-3">
            <input type="text" class="form-control" disabled="disabled" placeholder="@p.Cliente.Persona.Nombre @p.Cliente.Persona.Apellidos">
        </div>
    </div>
</div>
<div>
    <p>
        @Html.ActionLink("Agregar Menú", "AgregarMenu")
    </p>
</div>

<table class="table table-responsive">
    <tr>
        <th>
            Entrada
        </th>
        <th>
            Segundo
        </th>
        <th>
            Postre
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Entrada.NombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Segundo.NombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Postre.NombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @*@Html.ActionLink("Editar", "Editar", new { id = item.ProductoID }) |
                @Html.ActionLink("Eliminar", "Eliminar", new { id = item.ProductoID })*@
            </td>
        </tr>
    }

</table>