@model _03_Dominio.entCliente

@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/MasterPages/MasterExtranet.cshtml";
}

@section src{
    <link rel="stylesheet" href="~/Bootstrap/Extranet/booking/css/booking.css">
    <script src="~/Bootstrap/Extranet/booking/js/booking.js"></script>
}

@using (Html.BeginForm("Registro", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <section class="content">
        <div class="container">
            <div><h2>Registro</h2></div>
            <div class="row">
                <div class="form-horizontal grid_4" id="bookingForm">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div>
                        <strong class="color1">Datos personales:</strong>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Persona.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Persona.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Persona.Nombre, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Persona.Apellidos, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Persona.Apellidos, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Persona.Apellidos, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Persona.Dni, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Persona.Dni, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Persona.Dni, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Persona.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Persona.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Persona.Telefono, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Persona.Sexo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.Persona.Sexo, ViewBag.sexos as SelectList, "Seleccione uno", new { @class = "tmSelect" })
                            @Html.ValidationMessageFor(model => model.Persona.Sexo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Persona.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Persona.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Persona.Direccion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Persona.FechaNacimiento, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Persona.FechaNacimiento, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Persona.FechaNacimiento, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-horizontal grid_4" id="bookingForm">
                    <div>
                        <strong class="color1">Datos de usuario:</strong>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Usuario.NombreUsuario, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Usuario.NombreUsuario, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Usuario.NombreUsuario, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Usuario.Contrasena, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Usuario.Contrasena, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Usuario.Contrasena, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Usuario.ImgUsuario, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            <input type="file" name="archivo" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-offset-2 grid_6 pull-right">
                        <input type="submit" value="Registrarse" class="btn" />
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<script>
    $(function () {
        $('#bookingForm').bookingForm({
            ownerEmail: '#'
        });
    })
    $(function () {
        $('#bookingForm input, #bookingForm textarea').placeholder();
    });

</script>